@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@font-face{
    font-family: 'Futura-Md';
    src: url('../ttf/futura-mediumbt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none !important;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}  

.home-title{
    font-family: Futura;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.search-container{
    display: flex;
    margin-left: 50px;
}

.search-container input[type="list"]{
    padding: 10px;
    border: 2px solid #F5F2AD;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
}

.search-container button{
    padding: 2px 20px;
    border: 2px solid #F5F2AD;
    border-left: none;
    background-color: #F5F2AD;
    color: #747474;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-container button:hover {
    opacity: 0.7;
}


.green-rectangle{
    width: 249px;
    height: 5px;
    background-color: #A1C574;
    border: 2px solid #A1C574;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1.predict-title{
    margin-bottom: 56px;
    font-style: normal;
    font-size: 60px;
    color: black;
    text-align: left;
    padding-left: 42px;
}

.custom-card{
    width: 200px;
    height: 151px;
}

.custom-card img{
    max-height: 151px;
    object-fit: cover;
}

.travel-btn{
    color: #313131;
    padding: 10px 24px;
    background: #A1C574;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: .6s
}

.predict-btn:hover{
    opacity: .6;
}

.main{
    min-height: 100%;
}
.main.container{
    margin-top: 0px;
    max-width: 100% !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
    /* min-height: 100%; */
}

.navbar{
    background-color: #377600fb;
    --bs-navbar-brand-color: white !important;
    --bs-navbar-brand-hover-color: white !important;
    --bs-navbar-color: white !important;
    --bs-navbar-active-color: rgba(95, 255, 109, 0.88) !important;
    --bs-navbar-hover-color: rgba(200, 252, 204, 0.764) !important;
    font-family: 'Futura-Md';
    font-size: 22px;
}

.navbar-brand{
    font-family: 'Futura-Md';
    font-style: normal;
    font-weight: 500;
    font-size: 40px !important;
    color: white;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #E8E8E8 !important;
}

.main-image{
    position: relative;
    background: url(../media/main-banner.jpg) no-repeat center;
    background-position: 50% 30%;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.banner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-container h1{
    margin: 0;
    font-size:100px;
    width: 1071px;
    height: 320px;
}

.banner-container h1 span{
    padding: 6px 14px;
    display: inline-block;
}

.stock-menu{
    font-size: 18px;
    border-width: 1px;
}

.main-btn{
    margin-top: 10px;
}

.meet-us{
    margin-top: 5%;
    text-align: center;
}

.name-tag{
    text-align: left;
    font-size: 64px;
}

.mem-title{
    text-align: left;
    font-size: 48px;
}

.about-title{
    margin-bottom: 45px;
}

.landing-header{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.about-row{
    padding-left: 5%;
    padding-right: 5%;
}
.landing-body{
    font-size: 18px;
    line-height: 2;
}

#aside-img{
    background-image: url('../media/man\ handshake.png');
    background-size: cover;
    /* padding-right: 5%; */
}
.travel-btn a{
    color: white !important;
}

.bio{
    height: 300px;
    width: 250px;
    position: relative;
    margin-left: 10px;
}
.bio-content {
    color: white;
    font-size: 18px;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

.bio-content h3{
    background-color: #377600fb;
    border-bottom: 1px solid #377600fb;
    margin: 0;
}
.bio-content h5{
    margin: 0;
    background-color: #377600fb;
    border-bottom: 1px solid black;
}
.bio-content img{
    height: 100%;
    width: 100%;
}
.row {
    display: flex;
    justify-content: center;
  }

footer{
    margin-top: 5%;
    background-color: #377600fb;
    color: white;
    text-align: center;
}

.aboot{
    height: 100% !important;
}
.about-img{
    height: 100%;
    background-image: url('../media/businesswoman.jpg');
    background-size: cover;
    height: 400px;
    width: 200px;
    
}
.mission-body{
    position: relative;
    margin-right: -50px;
    background-color: #a1c574ef;
    padding: 2%;
    line-height: 1.75;
    z-index: 3;
}
ul{
    list-style-type: none;
}
ul h4{
    color: #393838;
}

#abt1{
    background-image: url('../media/stocks\ screen.jpg');
    background-size: cover;
}
#abt3{
    background-image: url('../media/stock\ trading.jpg');
    background-size: cover;
}